<footer class="page__footer">
    <div class="container__footer">
        <nav class="nav__content">
            <ul class="ul__content">
                <li><a class="link" href="#"> Articles</a></li>
                <li><a class="link" href="#"> Books</a></li>
                <li><a class="link" href="#"> Events</a></li>
                <li><a class="link" href="#"> Reasons</a></li>
                <li><a class="link" href="#"> Tips</a></li>
            </ul>
        </nav>
        <nav class="nav__social">
            <ul class="ul__social">
                <li><a class="link" href="#"> Twitter</a></li>
                <li><a class="link" href="#"> Instagram</a></li>
                <li><a class="link" href="#"> Mastodon.social</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <small>©2007</small>
            <small>we <span class="heart">❤︎ </span>components</small>
        </div>
    </div>
</footer>