<main class="page__main">
    <section class="description-section">
        <small class="small__description">Insomnia Tips</small>
        <h2 class="h2__description">Looking Through A Window</h2>
        <p class="p__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit corporis magnam sequi
            magni tempore
            perferendis deleniti perspiciatis, rerum, et reprehenderit optio animi officiis? Cumque, ipsam. Voluptatibus
            saepe sint repudiandae expedita?</p>
        <button class="button__description">Go</button>
    </section>
    <section class="reasons-section">
            <h2 class="h2__reasons">3 Reasons to purchase</h2>
            <ul class="grid">
                <li class="item--1">
                    <h3 class="h3__reasons">Ut sed metus</h3>
                    <p class="p__reasons">Lorem ipsum dolor sit amet, consecteur.</p>
                </li>
                <li class="item--2">
                    <h3 class="h3__reasons">Carabitur ac erat</h3>
                    <p class="p__reasons">Mauris mattis urna quis lorem molestie.</p>
                </li>
                <li class="item--3">
                    <h3 class="h3__reasons">Morbi dictum</h3>
                    <p class="p__reasons">Aliquam in dolor et dolor tincidunt.</p>
                </li>
            </ul>
            <div class="button__reasons--container"><button class=button__reasons>More reasons</button>
            </div>
    </section>
</main>