.description-section {
    background-color:$colorWhite;
    margin: 30px 15px 45px 15px;
    line-height: 30px;
        @media all and (min-width:768px){
            margin: 30px 40px 45px 40px;
        }
        @media all and (min-width:1200px){
            padding: 0 340px 0 340px;
        }
}
.small__description {
    font-family:$primaryFontFamily;
    color: $colorLightBlue;
    font-size: 14px;
    line-height: 30px;
    }
.h2__description {
    font-family: $secondaryFontFamily;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom:15px;
    @media all and (min-width:768px){
        line-height: 45px;
    }
}
.p__description {
    font-family: $primaryFontFamily;
    font-size: 20px;
    color: $colorGreyishBrown;
}