.page__footer{
    position: relative;
}
.button-arrow{
    z-index: 1;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}
.container__footer {
    display: flex;
    flex-direction: column;
    background-color: #304268;
    align-items: center;
}
.ul__content{
    margin-top: 45px;
    text-align: center;
    font-family: $primaryFontFamily;
    text-transform:uppercase;
    line-height: 30px;
    font-weight: 400;
    color:white;
    list-style: none;
    font-size: 16px;
}
.ul__social{
    margin-top: 30px;
    text-align: center;
    font-family: $primaryFontFamily;
    text-transform:uppercase;
    line-height: 30px;
    font-weight: 400;
    color:white;
    list-style: none;
    font-size: 16px;
}
.copyright {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    font-family: $primaryFontFamily;
    line-height: 30px;
    font-weight: 400;
    color:white;
    font-size: 16px;
}
.heart {
    color:red;
}
.link { 
    color: inherit;
    text-decoration: none;
}


