.page__header {
    height: 568px;
    width: 100%;
    color: $colorWhite;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colorBackgroundHeader;
    text-align: center;
    @media all and (min-width:768px) {
        height: 768px;
    }
}
.h1__hero {
    margin: 300px 15px 0 15px;
    font-family: $secondaryFontFamily;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    @media all and (min-width:768px) {
        font-size: 80px;
        line-height: 106px;
        margin-top: 384px;
        max-width: 720px;
    }
    @media all and (min-width:1200px) {
        font-size: 100px;
        line-height: 132px;
        max-width: none;
    }
}
.p__hero {
    margin-top: 20px;
    font-family: $primaryFontFamily;
    font-size: 16px;
    @media all and (min-width:768px) {
        font-size: 24px;
    }
}