.header {
    height: 568px;
    width: 100%;
    color: white;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(83, 83, 83);
    text-align: center;
}
.menu__header--div{
    display:flex;
}
.menu__header {
    position: fixed;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    width: 44px;
    height: 44px;
    background-color: $colorCerulean;
    border: none;
    color: white;
    font-size: 16px;
  }
.header__h1 {
    margin: 284px 15px 0 15px;
    font-family: $secondaryFontFamily;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
}
.header__p {
    margin-top: 20px;
    font-family: $primaryFontFamily;
    font-size: 16px;
}
.button__header {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    margin: 45px 0 53px;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    background-color: white;
    border: none;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 16px;
  }