.header {
    height: 568px;
    width: 100%;
    color: white;
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(27, 27, 27);
    text-align: center;
    @media all and (min-width:768px){
        height: 768px;
    }
}
.menu__header--div{
    display:flex;
}
.menu__header {
    position: fixed;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    width: 44px;
    height: 44px;
    background-color: $colorCerulean;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
.header__h1 {
    margin: 300px 15px 0 15px;
    font-family: $secondaryFontFamily;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    @media all and (min-width:768px){
        font-size: 80px;
        line-height: 106px;
        margin-top: 384px;
    }
    @media all and (min-width:1200px){
        font-size: 100px;
        line-height: 132px;
    }
}
.header__p {
    margin-top: 20px;
    font-family: $primaryFontFamily;
    font-size: 16px;
    @media all and (min-width:768px){
        font-size: 24px;
    }
}
.button__header {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    margin: 45px 0 53px;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    background-color: white;
    border: none;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 16px;
  }