.reasons-section{
    background-color: #eff9ff;
    padding-top: 30px;
}
.grid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;
    @media all and (min-width:768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 30px;
    }
}
.item--1{
    grid-row: 1/2;
    @media all and (min-width:768px){
        grid-row: 1/2;
        grid-column: 1/2;
    }
}
.item--2{
    grid-row: 2/3;
    @media all and (min-width:768px){
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
.item--3{
    grid-row: 3/4;
    @media all and (min-width:768px){
        grid-row: 1/2;
        grid-column: 3/4;
    }
}
.h2__reasons{
    font-family: $secondaryFontFamily;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: center;
    text-transform: capitalize;
}
.h3__reasons{
    padding: 0 15px 0 15px;
    font-family: $secondaryFontFamily;
    font-size:18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.p__reasons{
    font-family: $primaryFontFamily;
    padding: 0 15px 0 15px;
    text-align:center;
    font-size:18px;
    padding: 0 70px 0 70px;
}
.button__reasons--container
{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.button__reasons {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    margin-top: 45px;
    width: 184px;
    height: 45px;
    background-color:$colorBrightOrange;
    border: none;
    border-radius: 20px 20px;
    color: white;
    font-family: $primaryFontFamily;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color ease 1s;
    &:hover{
        background-color: $colorDarkBlue;
    }
}