.reasons-section{
    background-color: #eff9ff;
}
.h2__reasons{
    font-family: $secondaryFontFamily;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin:30px 15px 15px 15px;
    text-align: center;
}
.h3__reasons{
    padding: 0 15px 0 15px;
    font-family: $secondaryFontFamily;
    font-size:18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
.p__reasons{
    padding: 0 15px 0 15px;
    text-align:center;
    font-size:18px;
    padding: 0 70px 0 70px;
}
.button__reasons {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    margin-top: 45px;
    width: 184px;
    height: 45px;
    background-color:$colorBrightOrange;
    border: solid 2px $colorBrightOrange;
    border-radius: 20px 20px;
    color: white;
    font-family: $primaryFontFamily;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}