$primaryFontFamily:'Roboto', sans-serif;
$secondaryFontFamily:'Roboto Slab', serif;

/* Colors */

$colorLightBlue: #8ccbea;
$colorBrightOrange: #f26002;
$colorCerulean:#0271bc;
$colorDarkBlue: #304268;
$colorGreyishBrown: #4a4a4a;
$colorIceBlue: #eff9ff;
$colorWhite: white;

/* Colors areas*/

$colorBackgroundFooter: $colorDarkBlue;
$colorBackgroundReasons: $colorIceBlue;
$colorBackgroundHeader: $colorGreyishBrown;

/* Media queries */

$tabletWidth: 768px;
$desktopWidth: 1200px;

/* Font sizes */
